
  <div class="table-responsive">

    <h1>React on Rails Demo</h1>

    <%= react_component("PlayersSearchComponent", props: {
      players: @players
    }, prerender: false) %>

    <%= link_to 'New Player', new_react_on_rails_player_path, class: 'btn btn-primary' %>

  </div>
