<h1>Editing Player</h1>

<%= render 'hotwire/players/form', player: @player %>

<div class="btn-group" role="group">
  <%= link_to 'Show', hotwire_player_path(@player), class: 'btn btn-light' %>
  <%= link_to 'Back', hotwire_players_path, class: 'btn btn-light' %>
</div>
