<h1>Editing Player</h1>

<%= render 'form', player: @player %>

<div class="btn-group" role="group">
  <%= link_to 'Show', @player, class: 'btn btn-light' %>
  <%= link_to 'Back', players_path, class: 'btn btn-light' %>
</div>

