<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<div class="btn-group" role="group">
  <%= link_to 'Edit', get_edit_player_path(@player), class: 'btn btn-primary' %>
  <%= link_to 'Back', get_players_path, class: 'btn btn-light' %>
</div>
