      <tbody id="players">
        <% @players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= link_to 'Show', tb_player_path(player) %></td>
            <td><%= link_to 'Edit', edit_tb_player_path(player) %></td>
            <td><%= link_to 'Destroy', tb_player_path(player.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>